<footer class="footer-bg ">

    <div class="my-border">

        <div class="container py-3">

            <div class="row">

                <div class="col-xl-4 col-lg-4 img-div">
                    <img src="../../assets/Screenshot 2023-07-29 065332.png" alt="">
                </div>

                <div class="col-xl-8 col-lg-8">
                    <div class="input-group mb-3 pt-3 m-auto ">
                        <label>Signup For Newsletter</label>
                        <input type="text" class="form-control" placeholder="  Email adress..."
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                                class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>


            </div>



        </div>



    </div>




    <div class="container py-5">
        <div class="row">


            


            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 about-div">
                <h5>About Us </h5>
                <div class="outline-div">
                    <div class="line-div"></div>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi eveniet necessitatibus optio modi rem
                    iste temporibus.</p>
                <div class="icons-div">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-pinterest-p"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </div>








            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 list-div">
                <h5 class="px-4">Useful Link </h5>
                <div class="outline-div mx-4">
                    <div class="line-div"></div>
                </div>

                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span> Equipment Install</li>
                    <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span> Pressure Wash</li>
                    <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span> Services Specialty</li>
                    <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span> Pool Maintenance</li>
                    <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span> Drain & Clean </li>
                  </ul>
            </div>





            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 list-div">
                <h5 class="px-4">Support </h5>
                <div class="outline-div mx-4">
                    <div class="line-div"></div>
                </div>

                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span> Privacy Policy</li>
                    <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span> Support</li>
                    <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span> Disclaimer</li>
                    <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span> FAQ</li>
                    <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span> Terms & Conditions </li>
                  </ul>
            </div>







            


            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 about-div">
                <h5>Contact Us </h5>
                <div class="outline-div">
                    <div class="line-div"></div>
                </div>

                <p>Call Us Now + 000 2456 1456 <br> Info@Example.Com <br> MaineLab Head Office, <br> ABC 125666, UK</p>
            </div>



























        </div>
    </div>


    <div class="copy-div">

    <div class="container m-auto text-center ">

        <p>Copyright <i class="fa-regular fa-copyright"></i> 2022. all rights reserved </p>

    </div>
</div>


</footer>