<section>

    <div class="my-bg">

        <div class="dark-bg d-flex">
            <div class="container m-auto text-center align-items-center">
                <h1>ABOUT US</h1>
                <H6>HOME <span class="arrow-style"><i class="fa-solid fa-chevron-right"></i><i
                            class="fa-solid fa-chevron-right"></i></span> ABOUT US</H6>

            </div>
        </div>
    </div>





</section>





<section>

    <div class="container second-section">
        <div class="row">



            <div class="col-xl-6 col-lg-6 col-md-12 second-section-first">
                <div class="w-75">
                    <h6 class="styled-h-second-section">ABOUT US</h6>
                    <h3>Enjoy Your Learning To Swim Together</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, distinctio veritatis? In
                        totam debitis reprehenderit.</p>


                    <div class=" email-div ">
                        <div>
                            <i class="fa-solid fa-bullseye"></i>

                        </div>
                        <div class=" p-0">
                            <h6>Our Mision</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eos tempore
                                voluptates.</p>
                        </div>
                    </div>
                    <div class=" email-div ">
                        <div>
                            <i class="fa-solid fa-clock-rotate-left"></i>

                        </div>
                        <div class=" p-0">
                            <h6>Successful History</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eos tempore
                                voluptates.</p>
                        </div>
                    </div>
                    <div class=" email-div ">
                        <div>
                            <i class="fa-solid fa-person-swimming"></i>

                        </div>
                        <div class=" p-0">
                            <h6>Modern Equpments</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eos tempore
                                voluptates.</p>
                        </div>
                    </div>






                </div>
            </div>




            <div class="col-xl-6 col-lg-6 col-md-12 ">
                <div class="container m-auto child-img ">
                    <img src="../../assets/trainer3.avif" alt="child">
                </div>
            </div>







        </div>
    </div>

</section>



<section>

    <div class="third-section">


        <div class="row">




            <div class="col-xl-3 col-lg-3 col-md-6 sec-dark-bg ">
                <div class="container m-auto">
                    <i class="fa-solid fa-mask"></i>
                    <h6>Swimming Equipments </h6>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p class="small-colore">Read More</p>

                </div>
            </div>




            <div class="col-xl-3 col-lg-3 col-md-6 sec-dark-bg">
                <div class="container m-auto">
                    <i class="fa-solid fa-water-ladder"></i>
                    <h6>Swimming Equipments </h6>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p class="small-colore">Read More</p>

                </div>
            </div>




            <div class="col-xl-3 col-lg-3 col-md-6 sec-dark-bg">
                <div class="container m-auto">
                    <i class="fa-regular fa-hand"></i>
                    <h6>Swimming Equipments </h6>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p class="small-colore">Read More</p>

                </div>
            </div>




            <div class="col-xl-3 col-lg-3 col-md-6 sec-dark-bg">
                <div class="container m-auto">
                    <i class="fa-regular fa-address-card"></i>
                    <h6>Swimming Equipments </h6>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p class="small-colore">Read More</p>

                </div>
            </div>

        </div>
    </div>

</section>




<section>


    <div class="container">


        <div class="row">

            <div class="col-12 p-5">
                <div class="container m-auto text-center team-div ">
                    <h6 class="styled-h-second-section styled-h-after-second-section">OUR TEAM MEMBER</h6>
                    <h2>Our Professional Instractor </h2>
                    <p>Lorem ipsum dolor sit amet consectetur elit.</p>
                    <p> Deserunt laborum fugaaliquam?</p>

                </div>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-12 my-5 ">

                <div class="second-team-div container ">

                    <img src="../../assets/trainer4.avif" alt="trainer">
                    <h6>Kathren Murphy </h6>
                    <p>Swim instractor </p>
                    <i class="fa-regular fa-share-from-square"></i>

                </div>

            </div>






            <div class="col-xl-4 col-lg-4 col-md-12  my-5">

                <div class="second-team-div container ">

                    <img src="../../assets/trainer2.avif" alt="trainer">
                    <h6>Marvin Mackinny </h6>
                    <p>Swim instractor </p>
                    <i class="fa-regular fa-share-from-square"></i>

                </div>

            </div>






            <div class="col-xl-4 col-lg-4 col-md-12  my-5">

                <div class="second-team-div container ">

                    <img src="../../assets/trainer3.avif" alt="trainer">
                    <h6>Stevin klien </h6>
                    <p>Swim instractor </p>
                    <i class="fa-regular fa-share-from-square"></i>

                </div>

            </div>




        </div>

    </div>
</section>







<section class="my-section">














    <div class="row container m-auto">

        <div class="col-12 second-section-first pb-5">
            <div>
                <h6 class="styled-h-second-section">ABOUT US</h6>
                <h3>Enjoy Your Learning To Swim Together</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, distinctio veritatis? In
                    totam debitis reprehenderit.</p>

            </div>

        </div>



        

    <div id="carouselExampleControls" class="carousel slide position-relative" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                

        <div class="row">

            <div class="col-xl-5 col-lg-5 col-md-12 position-relative shadow card-info ">
                <div class="d-flex">
                    <div class="d-inline-block"><img src="../../assets/man.jpg" alt="ceo"></div>
                    <div class="d-inline-block">
                        <h6>Esther Howard</h6>
                        <p>CEO, Swimclub</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officia praesentium ipsa unde
                    saepe
                    consequatur tempora dolore? Rem ex earum facere ad temporibus, blanditiis illum ut
                    cupiditate in.</p>
                <div class="stars-div">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="../../assets/star.png" class="satar-img" alt="star">
            </div>


            <div class="col-xl-1 col-lg-1 col-md-12"></div>





            <div class="col-xl-5 col-lg-5 col-md-12 position-relative shadow card-info ">
                <div class="d-flex">
                    <div class="d-inline-block"><img src="../../assets/formal.jpg" alt="ceo"></div>
                    <div class="d-inline-block">
                        <h6>Kathren Murphy</h6>
                        <p>CEO, Swimclub</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officia praesentium ipsa unde
                    saepe
                    consequatur tempora dolore? Rem ex earum facere ad temporibus, blanditiis illum ut
                    cupiditate in.</p>
                <div class="stars-div">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="../../assets/star.png" class="satar-img" alt="star">
            </div>

        </div>


            </div>
            <div class="carousel-item">

                

        <div class="row">

            <div class="col-xl-5 col-lg-5 col-md-12 position-relative shadow card-info ">
                <div class="d-flex">
                    <div class="d-inline-block"><img src="../../assets/man.jpg" alt="ceo"></div>
                    <div class="d-inline-block">
                        <h6>Esther Howard</h6>
                        <p>CEO, Swimclub</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officia praesentium ipsa unde
                    saepe
                    consequatur tempora dolore? Rem ex earum facere ad temporibus, blanditiis illum ut
                    cupiditate in.</p>
                <div class="stars-div">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="../../assets/star.png" class="satar-img" alt="star">
            </div>


            <div class="col-xl-1 col-lg-1 col-md-12"></div>





            <div class="col-xl-5 col-lg-5 col-md-12 position-relative shadow card-info ">
                <div class="d-flex">
                    <div class="d-inline-block"><img src="../../assets/formal.jpg" alt="ceo"></div>
                    <div class="d-inline-block">
                        <h6>Kathren Murphy</h6>
                        <p>CEO, Swimclub</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officia praesentium ipsa unde
                    saepe
                    consequatur tempora dolore? Rem ex earum facere ad temporibus, blanditiis illum ut
                    cupiditate in.</p>
                <div class="stars-div">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="../../assets/star.png" class="satar-img" alt="star">
            </div>

        </div>


    


            </div>
            <div class="carousel-item">


                

        <div class="row">

            <div class="col-xl-5 col-lg-5 col-md-12 position-relative shadow card-info ">
                <div class="d-flex">
                    <div class="d-inline-block"><img src="../../assets/man.jpg" alt="ceo"></div>
                    <div class="d-inline-block">
                        <h6>Esther Howard</h6>
                        <p>CEO, Swimclub</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officia praesentium ipsa unde
                    saepe
                    consequatur tempora dolore? Rem ex earum facere ad temporibus, blanditiis illum ut
                    cupiditate in.</p>
                <div class="stars-div">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="../../assets/star.png" class="satar-img" alt="star">
            </div>


            <div class="col-xl-1 col-lg-1 col-md-12"></div>





            <div class="col-xl-5 col-lg-5 col-md-12 position-relative shadow card-info ">
                <div class="d-flex">
                    <div class="d-inline-block"><img src="../../assets/formal.jpg" alt="ceo"></div>
                    <div class="d-inline-block">
                        <h6>Kathren Murphy</h6>
                        <p>CEO, Swimclub</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officia praesentium ipsa unde
                    saepe
                    consequatur tempora dolore? Rem ex earum facere ad temporibus, blanditiis illum ut
                    cupiditate in.</p>
                <div class="stars-div">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="../../assets/star.png" class="satar-img" alt="star">
            </div>

        </div>



            </div>
        </div>
        <i type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="fa-solid fa-chevron-left" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
    </i>
        <i  type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="fa-solid fa-chevron-right" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
</i>
    </div>








    </div>













</section>