.my-bg{
    background-image: url(../../assets/bg.jpg);
    height: 50vh;
    background-size: cover;
}
.dark-bg{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 15, 51, 0.8);
}
.dark-bg h1{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: 700;

}
.dark-bg h6{
    color: white;
    font-size: 11px;
    font-weight: 400;
    padding: 10px;

}
.arrow-style{
    color: white;
    font-size: 11px;
    padding: 0 10px;
}





/*************************** second section *************************************/
.courses-s{
    padding: 100px 0;
}
.styled-h-after-second-section::after{
    content: "";
    padding: 1px 3px 0 3px;
    margin: 0 10px 0 5px;
    background-color: #0d6efd;
}
.team-div h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding: 10px;
}
.team-div p{
    font-size: 11px;
    font-weight: 300;
    padding: 2px 10px;
    margin: 0;
    line-height: 1.8;
    color: gray;
}
.offers-price{
 position: relative;
}
.offers-price img{
    width: 100%;
    border-radius: 10px 10px 0 0;

}
.offers-price p{
    padding: 15px 10px;
    color: #000f33;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -16px;
    border-radius:0 30px 0 0 ;
}
.offers-card .offers-price p{
    font-size: 12px;
}
.colored-price{
    font-size: 16px;
    color: #004dff;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    padding: 0 1px;
}

.offers-card h5{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 18px;
    padding: 15px 5px 7px 15px;
}
.p-card{
    font-size: 12px;
    color: gray;
    padding: 0px 15px 30px 15px;
}
.offers-card div{
    border-radius: 5px;
}
.offers-card {
    margin-top: 10px;
}
.lesson-time{
    margin: 10px 2px 0px 2px;
    border-top: 1px solid hsl(0, 4%, 82%);
    padding: 20px  5px 0px 5px;
}
.lesson-time i{
    font-size: 10px;
    color: #004dff;
}
.lesson-time li{
    font-size: 12px;
    font-weight: 600;
}
.icon-border{
    border-right: 1px solid hsl(0, 4%, 82%);
}

.h-before-style{
    font-size: 17px;
    padding: 5px;
}
.h-before-style::before{
    content: "";
    padding: 0px 3px 0 3px;
    margin: 0 5px 0 10px;
    background-color: #0d6efd;
}

.search-div{
    border-radius: 5px;
}


.search-div label{
    padding: 10px 15px 5px 10px;
    font-weight: 300;
    font-size: 16px;
    color: white;
}
.search-div button{
background-color: #004dff;
border: #004dff;
border-radius: 5px;
color: white;
padding: 0 18px;
}
.search-div input{
background-color : #ebf1ff ;
border: none;
padding: 10px 10px;
border-radius: 5px 0 0 5px!important;
color: white;
margin-left: 15px;

}

::placeholder{
    color: gray;
    font-weight: 400;
    font-size: 12px;

}
.skill-level h6{
    font-size: 16px; 
    font-weight: 600;
    padding: 0px 14px 7px 14px;
    border-bottom: 1px solid rgb(214, 208, 208);
}
.my-form-check label{
    font-size: 14px;
    color: gray;

}
.my-form-check input{

    height: 10px;
    width: 10px;
    margin-top: 7px;


}
.my-form-check{
    padding: 0 35px;
}
.sec-form-check label{
    font-size: 14px;
    color: gray;

}
.sec-form-check input{

    height: 12px;
    width: 12px;
    border-radius: 0;
    margin-top: 7px;

}
.sec-form-check{
    padding: 0 35px;
}
.my-radios{
    border-radius: 5px;
    padding: 10px;
}
.search-div .fa-chevron-right{
    font-size: 12px;
    color: gray;
    padding-right: 5px;

}
.search-div li{
    font-size: 12px;
    color: gray;
    padding: 7px 0;

}

.skill-level button{
    border-radius: 30px;
    font-size: 14px;
    width: 62% ;
    padding: 10px 0;
}