<section>

    <div class="my-bg">

        <div class="dark-bg d-flex">
            <div class="container m-auto text-center align-items-center">
                <h1>OUR COURSES </h1>
                <H6>HOME <span class="arrow-style"><i class="fa-solid fa-chevron-right"></i><i
                            class="fa-solid fa-chevron-right"></i></span> COURSES</H6>

            </div>
        </div>
    </div>





</section>



<section class="courses-s">


    <div class="container">


        <div class="row">



            <div class="col-xl-4 col-lg-12 ">

                <div class="row ">


                    <div class="col-12 ">
                        <div class="p-3 m-2 search-div border">
                            <h5 class="h-before-style">COURSE SEARCH</h5>
                            <div class="input-group mb-3 ">
                                <input type="text" class="form-control" placeholder="Search...."
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </div>

                        </div>

                    </div>



                    <div class="col-12">
                        <div class="row m-2 my-radios border">


                            
                            <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12">
                                <div class="p-3 m-2 ">
                                    <h5 class="h-before-style">FILTER BY</h5>
                                </div>
                            </div>



                            


                            <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12 pt-4 skill-level">
                                <div class="mx-2 px-3">
                                    <h6>Skill Level</h6>

                                      <div class="form-check my-form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                          Beginner
                                        </label>
                                      </div>
                                      <div class="form-check my-form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          Intermediate
                                        </label>
                                      </div>
                                      <div class="form-check my-form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          Expert
                                        </label>
                                      </div>
                                </div>
                            </div>









                            <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12 pt-4 skill-level">
                                <div class="mx-2 px-3">
                                    <h6>Price Level</h6>

                        
                                      <div class="form-check my-form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          Free (10)
                                        </label>
                                      </div>
                                      <div class="form-check my-form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          Paid (210)
                                        </label>
                                      </div>
                                </div>
                            </div>





                            <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12 pt-4 skill-level">
                                <div class="mx-2 px-3">
                                    <h6>Duration Time </h6>

                        
                                      <div class="form-check my-form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          5+ Hours (30)
                                        </label>
                                      </div>
                                      <div class="form-check my-form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          15+ Hours (24)
                                        </label>
                                      </div>
                                      <div class="form-check my-form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          26+ Hours (18)
                                        </label>
                                      </div>
                                </div>
                            </div>








                            <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12 pt-4 skill-level">
                                <div class="mx-2 px-3">
                                    <h6>Course Type  </h6>

                                    <div class="form-check sec-form-check">
                                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                          Swimming
                                        </label>
                                      </div>
                        
                                      <div class="form-check sec-form-check">
                                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Swimming
                                        </label>
                                      </div>
                                      <div class="form-check sec-form-check">
                                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Swimming
                                        </label>
                                      </div>
                                      <div class="form-check sec-form-check">
                                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Swimming
                                        </label>
                                      </div>
                                </div>
                            </div>










                            <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12 pt-4 skill-level">
                                <div class="mx-2 px-3">
                                    <h6>Instructor</h6>


                        
                                      <div class="form-check sec-form-check">
                                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          Jane Cooper
                                        </label>
                                      </div>
                                      <div class="form-check sec-form-check">
                                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          Guy Hatson
                                        </label>
                                      </div>
                                      <div class="form-check sec-form-check">
                                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          Kristin Watson
                                        </label>
                                      </div>
                                      <div class="form-check sec-form-check">
                                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          Ronald Richards
                                        </label>
                                      </div>
                                </div>
                            </div>


                            <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12 pt-4 skill-level">
                                <div class="mx-2 px-3 ">
                                    <button type="button" class="btn btn-primary">Submit Now</button>

                                </div>
                            </div>




                            












                        </div>
                    </div>






                    
                    <div class="col-12 ">
                        <div class="p-3 m-2 search-div border">
                            <h5 class="h-before-style">COURSE CATEGORIES</h5>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span>Kids Swimming</li>
                                <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span>Backstroke</li>
                                <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span>Skills Of Swimming</li>
                                <li><span class="fa-li"><i class="fa-solid fa-chevron-right"></i></span>Swimming For Adult</li>
                              </ul>

                        </div>

                    </div>









                </div>


            </div>








            <div class="col-xl-8 col-lg-12">

                <div class="row">




                    <div *ngFor='let d of data' class="col-xl-6 col-lg-6 col-md-12 offers-card  ">

                        <div class="border p-2">
                            <div class="offers-price ">
                                <img [src]="d.IMG" alt="training offers">
                                <p><span class="colored-price">{{d.PRICE}}</span> /person</p>
                            </div>
                            <h5>{{d.type}} {{d.AGE}}</h5>
                            <p class="p-card">Lorem ipsum amet consectetur adipisicing dolor sit amet consectetur
                                adipisicing elit. Voluptatem, ut.</p>

                            <div class="lesson-time row">
                                <div class="col-6 icon-border">
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fa-solid fa-user-group"></i></span>28 Inrolled
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fa-solid fa-book"></i></span>13 Lesson</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>

        </div>

    </div>



</section>