<section>

    <div class="my-bg">

        <div class="dark-bg d-flex">
            <div class="container m-auto text-center align-items-center">
                <h1>GET IN TOUCH </h1>
                <H6>HOME <span class="arrow-style"><i class="fa-solid fa-chevron-right"></i><i
                            class="fa-solid fa-chevron-right"></i></span> CONTACT US</H6>

            </div>
        </div>
    </div>





</section>



<section class="sec-sec">



    <div class="container">

        <div class="row">


            
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">



                <div class=" email-div ">
                    <div>
                        <i class="fa-solid fa-globe"></i>

                    </div>
                    <div class=" p-0">
                        <h6>Office Adress</h6>
                        <p> 4517 qwiuf iuefuy</p>
                    </div>
                </div>



            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">



                <div class=" email-div ">
                    <div>
                        <i class="fa-solid fa-phone"></i>

                    </div>
                    <div class=" p-0">
                        <h6>Phone Number</h6>
                        <p> 000 - 5555 - 8888</p>
                    </div>
                </div>



            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">



                <div class=" email-div ">
                    <div>
                        <i class="fa-regular fa-paper-plane"></i>

                    </div>
                    <div class=" p-0">
                        <h6>Email Address</h6>
                        <p> demo120@gmail.com</p>
                    </div>
                </div>



            </div>





            <div class="col-xl-6 col-lg-6 col-md-12">

                <div class="bg-div">

                
                <div class="form-group py-5 mt-2 mb-5 ms-4 my-form shadow">
                    <h6 class="styled-h-second-section">SEND YOUR MESSAGE</h6>

                    <form [formGroup]="form" action="javascript:void(0) " (submit)="send()">

                        <div class="row">
                            <div class="col-6">
                                <div class="input-1 w-100">
                                    <input formControlName = "from_name" type="name"  class="form-control " name="user_name" placeholder="Your Name">

                                    <div  *ngIf=" form.controls.from_name.invalid  && form.controls.from_name.touched"  class="alert alert-danger d-flex align-items-center" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </svg>
                                        <div>
                                            Please Enter a Valid Username.
                                        </div>
                                      </div>






                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-2 ">
                                    <input formControlName = "email_id" type="email" class="form-control" name="user_email" placeholder="Your Email">
                               
                               
                               
                                    <div  *ngIf=" form.controls.email_id.invalid  && form.controls.email_id.touched"  class="alert alert-danger d-flex align-items-center" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </svg>
                                        <div>
                                            Please Enter a Valid Email.
                                        </div>
                                      </div>




                               
                               
                               
                               
                               
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="m-2">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Choose Subject</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="m-2">
                                    <textarea formControlName = "message" placeholder="Type Message" name="message" id="" cols="30" rows="5" class="form-control"></textarea>
                              

                                                                   
                                    <div  *ngIf=" form.controls.message.invalid  && form.controls.message.touched"  class="alert alert-danger d-flex align-items-center" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </svg>
                                        <div>
                                            Please Enter a Message.
                                        </div>
                                      </div>
                              
                                </div>
                            </div>

                        </div>

                        <button type="submit" [disabled] ='form.invalid' value="Send" class="btn btn-primary">Send Message</button>

                    </form>

                </div>
            </div>
            </div>


            <div class="col-xl-6 col-lg-6 col-md-12 ">
                <div class="dis-img">
                    <img src="../../assets/trainer3.avif" alt="trainer">
                </div>
            </div>

















        </div>

    </div>


</section>



<section class="map-sec">



    <div class="container ">

        <div class=" map-img">
            <img src="../../assets/map.png" class="shadow" alt="map">
        </div>




        
        <div class="row w-75 m-auto map-info">


            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">



                <div class=" email-div ">
                    <div>
                        <i class="fa-solid fa-earth-europe"></i>
                    </div>
                    <div class=" p-0">
                        <h6 class="map-h">London</h6>
                        <p> 4517 qwiuf iuefuy</p>
                    </div>
                </div>



            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">



                <div class=" email-div ">
                    <div>
                        <i class="fa-solid fa-earth-americas"></i>
                    </div>
                    <div class=" p-0">
                        <h6 class="map-h">Mosco</h6>
                        <p> 4517 qwiuf iuefuy</p>
                    </div>
                </div>



            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">



                <div class=" email-div ">
                    <div>
                        <i class="fa-solid fa-earth-africa"></i>

                    </div>
                    <div class=" p-0">
                        <h6 class="map-h">Paris</h6>
                        <p> 4517 qwiuf iuefuy</p>
                    </div>
                </div>



            </div>
            </div>



        
    </div>

    <div class=" bg-logo">
    <div class=" w-75 m-auto py-5 row">

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 py-2">
            <img src="../../assets/logo1.png" alt="boston">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 py-2">
            <img src="../../assets/logo2.png" alt="boston">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 py-2">
            <img src="../../assets/logo1.png" alt="boston">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 py-2">
            <img src="../../assets/logo2.png" alt="boston">
        </div>
    </div>
</div>

</section>