<nav>


    <div class="nav1-bg">

        <div class="container">

            <div class="row text-center">

                <div class="col-xl-2 col-lg-4 col-md-4 time-nav">
                    <p> <i class="fa-regular fa-clock px-1"></i> Mon - Sat 9:00 - 18:00</p>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-4 time-nav">
                    <p> <i class="fa-solid fa-phone px-1"></i> (251)235-3256</p>
                </div>
                <div class="col-xl-8 col-lg-4 col-md-4 brand-nav text-end">
                    <i class="fa-brands fa-facebook-f my-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>


            </div>



        </div>


    </div>



    <div class="nav2-bg">

        <div class="container ">


            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 sec-nav">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-sm-6">
                            <img src="../../assets/Screenshot 2023-07-29 033527.png" alt="swimclub">
                        </div>

                        <div class="col-xl-6 col-lg-6 col-sm-6">
                            <div class=" email-div ">
                                <div>
                                    <i class="fa-regular fa-envelope"></i>
        
                                </div>
                                <div class=" p-0">
                                    <h6>Email Us</h6>
                                    <p>demo123@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>



                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 sec2-nav">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-sm-6">
                            <div class=" email-div ">
                                <div>
                                    <i class="fa-regular fa-paper-plane"></i>
        
                                </div>
                                <div class=" p-0">
                                    <h6>Location</h6>
                                    <p>Bulls Stadium, California</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-sm-6">
                            <div class="row my-btn ">
                                <button type="button" class="btn btn-primary m-auto ">Sign Up <i
                                        class="fa-solid fa-chevron-right"></i></button>

                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>



    </div> 






    <div class="navbar navbar-expand-lg  nav-bg ">
        <div class="container ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"> Menu
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                    <li class="nav-item">
                        <a class="nav-link" routerLink="home" routerLinkActive="r-active">Home</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" routerLink="about" routerLinkActive="r-active">About</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" routerLink="courses" routerLinkActive="r-active">Courses</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link"  routerLink="contact" routerLinkActive="r-active">Contact</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </li>

                </ul>

            </div>
        </div>
    </div>












</nav>