<section>

    <div class="bg-img">
        <div class="skew-bg"> </div>
        <div class="bg-img-dark">


            <div class="container m-auto first-section-container">
                <div class="w-50">
                    <h1>
                        WE MAKE YOU A NEXT LEVEL SWIMMER
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing ipsum dolor sit amet elit. Suscipit at
                        aperiam nesciunt, eum neque natus?
                    </p>
                    <button type="button" class="btn btn-primary">See The Courses Offer</button>
                    <i class="fa-solid fa-play"></i>
                </div>
            </div>


        </div>
    </div>



</section>


<section>

    <div class="container second-section">
        <div class="row">





            <div class="col-xl-6 col-lg-6 col-md-6 second-section-second ">
                <div class="img-group ">
                    <div class="child-1"><img src="../../assets/child_1.avif" alt=""></div>
                    <div class="child-2"><img src="../../assets/child_2.avif" alt=""></div>
                    <div class="child-3"><img src="../../assets/child_3.avif" alt=""></div>
                    <div class="line-div-img"></div>
                </div>
            </div>













            <div class="col-xl-6 col-lg-6 col-md-6 second-section-first">
                <div class="w-75">
                    <h6 class="styled-h-second-section">ABOUT US</h6>
                    <h3>Enjoy Your Learning To Swim Together</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, distinctio veritatis? In
                        totam debitis reprehenderit.</p>


                    <div class=" email-div ">
                        <div>
                            <i class="fa-solid fa-bullseye"></i>

                        </div>
                        <div class=" p-0">
                            <h6>Our Mision</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eos tempore
                                voluptates.</p>
                        </div>
                    </div>
                    <div class=" email-div ">
                        <div>
                            <i class="fa-solid fa-clock-rotate-left"></i>

                        </div>
                        <div class=" p-0">
                            <h6>Successful History</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eos tempore
                                voluptates.</p>
                        </div>
                    </div>






                </div>
            </div>











        </div>
    </div>

</section>





<section class="third-section overflow-hidden bg-danger">




    <div class=" bg-info">

        <div class="row">






            <div class="col-xl-4 col-lg-3 col-md-12 sec-bg-img p-0 ">

                <div class="sec-img-dark">
                    <div class="skew-part-two"></div>
                    <div class="skew-part-three"></div>
                    <div class="typed-skew ">
                        <h2>27+</h2>
                        <p>YEARS EXPERIENCE</p>
                    </div>
                </div>

            </div>




            <div class="col-xl-5 col-lg-6 col-md-12 info-div  ">

                <div class="typed-info">
                    <h6 class="styled-h-second-section">WHY CHOOSE US</h6>
                    <h2>WE MAKE YOU A NEXT LEVEL SWIMMER</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quam, ut optio dolorum
                        minus natus?</p>
                    <div class="row my-border">

                        <div class="col-6">
                            <ul class="fa-ul info-div-list">
                                <li><span class="fa-li"><i class="fa-solid fa-circle-check"></i></span>Experinced Staff
                                </li>
                                <li><span class="fa-li"><i class="fa-solid fa-circle-check"></i></span>Modern Equpment
                                </li>
                                <li><span class="fa-li"><i class="fa-solid fa-circle-check"></i></span>Unique school
                                </li>
                            </ul>

                        </div>
                        <div class="col-6">
                            <ul class="fa-ul info-div-list">
                                <li><span class="fa-li"><i class="fa-solid fa-circle-check"></i></span>Experinced Staff
                                </li>
                                <li><span class="fa-li"><i class="fa-solid fa-circle-check"></i></span>Modern Equpment
                                </li>
                                <li><span class="fa-li"><i class="fa-solid fa-circle-check"></i></span>Unique school
                                </li>
                            </ul>

                        </div>

                    </div>

                    <dir class="row info-div-ceo  ">

                        <div class="col-6 d-flex my-sec-bord ">
                            <div class="d-inline-block"><img src="../../assets/man.jpg" alt=""></div>

                            <div class="d-inline-block">
                                <h6>Esther Howard</h6>
                                <p>CEO, Swimclub</p>
                            </div>
                        </div>


                        <div class="col-6 d-flex ">

                            <button type="button" class="btn btn-primary">Admission Now</button>

                        </div>

                    </dir>

                </div>

            </div>







            <div class="col-xl-3 col-lg-3 col-md-12 third-bg-img p-0">

                <div class="third-img-dark">


                    <div class="container m-auto text-center sale-div">
                        <h6><span class="sale-pre">50</span><span class="my-pre">% </span> Off</h6>
                        <h6>Each Courses</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium alias qui illum tenetur.
                        </p>
                        <button type="button" class="btn btn-outline-light">See The Course Offer</button>

                    </div>


                </div>

            </div>





        </div>

    </div>








</section>









<section id="our-courses" class="py-5">


    <div class="container">


        <div class="row">

            <div class="col-12 p-5">
                <div class="container m-auto text-center team-div ">
                    <h6 class="styled-h-second-section styled-h-after-second-section">OUR TEAM MEMBER</h6>
                    <h2>Our Professional Instractor </h2>
                    <p>Lorem ipsum dolor sit amet consectetur elit.</p>
                    <p> Deserunt laborum fugaaliquam?</p>

                </div>
            </div>







            <div *ngFor='let d of data' class="col-xl-4 col-lg-4 col-md-6 offers-card  ">

                <div class="border p-2">
                    <div class="offers-price ">
                        <img [src]="d.IMG" alt="training offers">
                        <p><span class="colored-price">{{d.PRICE}}</span> /person</p>
                    </div>
                    <h5>{{d.type}} {{d.AGE}}</h5>
                    <p class="p-card">Lorem ipsum amet consectetur adipisicing dolor sit amet consectetur adipisicing
                        elit. Voluptatem, ut.</p>

                    <div class="lesson-time row">
                        <div class="col-6 icon-border">
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa-solid fa-user-group"></i></span>28 Inrolled</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa-solid fa-book"></i></span>13 Lesson</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>









        </div>

    </div>


</section>






<section class="map-sec position-relative ">


    <div class="scale-div"></div>


    <div class="img-dark-finish d-flex">

        <div class="row my-50 m-auto map-info">



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">



                <div class="num-div ">
                    <h2>453</h2>
                    <p>Happy Clint</p>
                </div>



            </div>





            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">



                <div class="num-div ">
                    <h2>24y</h2>
                    <p>Years Of Experince</p>
                </div>



            </div>





            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">



                <div class="num-div ">
                    <h2>245</h2>
                    <p>Total Student</p>
                </div>



            </div>











        </div>






  

    </div>

</section>












<section class="my-section">








         <div class="container ">

            <div class=" map-img">
                <img src="../../assets/childvideo.png" class="shadow" alt="map">
            </div>






        </div> 






    <div class="row container m-auto">

        <div class="col-12 second-section-first pb-5">
            <div>
                <h6 class="styled-h-second-section">ABOUT US</h6>
                <h3>Enjoy Your Learning To Swim Together</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, distinctio veritatis? In
                    totam debitis reprehenderit.</p>

            </div>

        </div>



        

    <div id="carouselExampleControls" class="carousel slide position-relative" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                

        <div class="row">

            <div class="col-xl-5 col-lg-5 col-md-12 position-relative shadow card-info ">
                <div class="d-flex">
                    <div class="d-inline-block"><img src="../../assets/man.jpg" alt="ceo"></div>
                    <div class="d-inline-block">
                        <h6>Esther Howard</h6>
                        <p>CEO, Swimclub</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officia praesentium ipsa unde
                    saepe
                    consequatur tempora dolore? Rem ex earum facere ad temporibus, blanditiis illum ut
                    cupiditate in.</p>
                <div class="stars-div">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="../../assets/star.png" class="satar-img" alt="star">
            </div>


            <div class="col-xl-1 col-lg-1 col-md-12"></div>





            <div class="col-xl-5 col-lg-5 col-md-12 position-relative shadow card-info ">
                <div class="d-flex">
                    <div class="d-inline-block"><img src="../../assets/formal.jpg" alt="ceo"></div>
                    <div class="d-inline-block">
                        <h6>Kathren Murphy</h6>
                        <p>CEO, Swimclub</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officia praesentium ipsa unde
                    saepe
                    consequatur tempora dolore? Rem ex earum facere ad temporibus, blanditiis illum ut
                    cupiditate in.</p>
                <div class="stars-div">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="../../assets/star.png" class="satar-img" alt="star">
            </div>

        </div>


            </div>
            <div class="carousel-item">

                

        <div class="row">

            <div class="col-xl-5 col-lg-5 col-md-12 position-relative shadow card-info ">
                <div class="d-flex">
                    <div class="d-inline-block"><img src="../../assets/man.jpg" alt="ceo"></div>
                    <div class="d-inline-block">
                        <h6>Esther Howard</h6>
                        <p>CEO, Swimclub</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officia praesentium ipsa unde
                    saepe
                    consequatur tempora dolore? Rem ex earum facere ad temporibus, blanditiis illum ut
                    cupiditate in.</p>
                <div class="stars-div">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="../../assets/star.png" class="satar-img" alt="star">
            </div>


            <div class="col-xl-1 col-lg-1 col-md-12"></div>





            <div class="col-xl-5 col-lg-5 col-md-12 position-relative shadow card-info ">
                <div class="d-flex">
                    <div class="d-inline-block"><img src="../../assets/formal.jpg" alt="ceo"></div>
                    <div class="d-inline-block">
                        <h6>Kathren Murphy</h6>
                        <p>CEO, Swimclub</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officia praesentium ipsa unde
                    saepe
                    consequatur tempora dolore? Rem ex earum facere ad temporibus, blanditiis illum ut
                    cupiditate in.</p>
                <div class="stars-div">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="../../assets/star.png" class="satar-img" alt="star">
            </div>

        </div>


    


            </div>
            <div class="carousel-item">


                

        <div class="row">

            <div class="col-xl-5 col-lg-5 col-md-12 position-relative shadow card-info ">
                <div class="d-flex">
                    <div class="d-inline-block"><img src="../../assets/man.jpg" alt="ceo"></div>
                    <div class="d-inline-block">
                        <h6>Esther Howard</h6>
                        <p>CEO, Swimclub</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officia praesentium ipsa unde
                    saepe
                    consequatur tempora dolore? Rem ex earum facere ad temporibus, blanditiis illum ut
                    cupiditate in.</p>
                <div class="stars-div">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="../../assets/star.png" class="satar-img" alt="star">
            </div>


            <div class="col-xl-1 col-lg-1 col-md-12"></div>





            <div class="col-xl-5 col-lg-5 col-md-12 position-relative shadow card-info ">
                <div class="d-flex">
                    <div class="d-inline-block"><img src="../../assets/formal.jpg" alt="ceo"></div>
                    <div class="d-inline-block">
                        <h6>Kathren Murphy</h6>
                        <p>CEO, Swimclub</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda officia praesentium ipsa unde
                    saepe
                    consequatur tempora dolore? Rem ex earum facere ad temporibus, blanditiis illum ut
                    cupiditate in.</p>
                <div class="stars-div">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="../../assets/star.png" class="satar-img" alt="star">
            </div>

        </div>



            </div>
        </div>
        <i type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="fa-solid fa-chevron-left" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
    </i>
        <i  type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="fa-solid fa-chevron-right" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
</i>
    </div>








    </div>













</section>