
/*************************** first section *************************************/

.bg-img{
    background-image: url(../../assets/bg4.jpg);
    height: 70vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.bg-img-dark{
    background-color: rgba(20, 34, 67, 0.8);
    height: 100%;
    width: 100%;
    display: flex;
}
.skew-bg{
    display: flex;
    transform: skew(-25deg);
    width: 100%;
    height: 100%;
    background-color: #000f33;
    position: absolute;
    left: -40%;
    z-index: 10;
}
.first-section-container{
    color: white;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    z-index: 999999999;
}
.first-section-container h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    padding: 5px 10px;
}
.first-section-container p{
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    width: 75%;
}
.first-section-container button{
    font-family: 'Roboto', sans-serif;
    border-radius: 50px;
    font-size: 13px;
    padding: 10px 20px;
    margin-left: 10px;
}
.first-section-container i{
    border-radius: 50%;
    font-size: 15px;
    color: #0d6efd;
    padding: 18px 20px;
    background-color: white ;
    border: 5px solid rgba(20, 34, 67, 0.9);
    margin-left: 20px;
    cursor: pointer;
}
@media all and (max-width: 786px) and (min-width: 576px){

    .first-section-container .w-50{
        width: 70%!important;
    }
}
@media all and (max-width: 576px){

    .first-section-container .w-50{
        width: 100%!important;
    }
    .skew-bg{
    display: none;
    }
}
@media all and (max-width: 300px){
    .first-section-container button{
        padding: 10px 10px;
        margin-left: 10px;
    }
    .first-section-container i{
        margin-left: 5px;
    }
}
/*************************** second section *************************************/

.second-section{

    padding: 60px 20px 30px 20px;
}
.styled-h-second-section{
    color: #0d6efd;
    font-size: 13px;
    font-weight: 400;
}
.styled-h-second-section::before{
    content: "";
    padding: 1px 3px 0 3px;
    margin: 0 5px 0 10px;
    background-color: #0d6efd;
}
.second-section-first h3{
    padding: 0 10px 10px 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}
.second-section-first{
    padding: 20px 20px 20px 60px;
} 
.second-section-first p{
    color: gray;
    font-size: 12px;
    padding: 0px 10px 10px 10px;
    line-height: 1.8;

}
.email-div h6{
    padding: 5px 10px 0px 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;

}
.email-div i{
    background-color: #004dff;
    font-size: 30px;
    padding: 13px ;
    border-radius: 10px;
    color: white;
}
.email-div{
    display: flex;
}
.email-div div{
    display: inline-block;
}
.second-section-second{
    position: relative;
    height: 500px;
}
.child-1{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.child-2{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 80px;
    top: 230px;
    border-radius: 20px;
    z-index: 100;
    overflow: hidden;
}
.child-3{
    width: 200px;
    height: 230px;
    position: absolute;
    right: 230px;
    top: 100px;
    border-radius: 20px;
    z-index: 10;
    overflow: hidden;
}

.img-group img{
    width: 100%;
    
}
.line-div-img{
    width: 10px;
    height: 70px;
    background-color: #0d6efd;
    position: absolute;
    right: 300px;
    top: 340px;
    border-radius: 20px;
    z-index: 10;

}
@media all and (max-width: 450px){

    .child-1{
        width: 150px;
        height: 150px;
    }
    .child-2{
        width: 150px;
        height: 150px;
        right: 60px;
        top: 170px;
    }
    .child-3{
        width: 150px;
        height: 160px;
        right: 170px;
        top: 75px;
    }
    .line-div-img{
        width: 10px;
        height: 50px;
        right: 225px;
        top: 255px;
    }

}
/******************** third section ****************/ 
.sec-bg-img{
    background-image: url(../../assets/child_6.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    height:85vh;
}
.skew-part-two{
    background-color: #004dff;
    height: 400px;
    width: 300px;
    position: absolute;
    transform: skew(45deg);
    left: -100px;
    bottom: -150px;
    z-index: 999999;
}
.skew-part-three{
    background-color: white;
    height: 400px;
    width: 300px;
    position: absolute;
    transform: skew(47deg);
    left: -100px;
    bottom: -135px;
}
.typed-skew{
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9999999999;
    color: white;
}
.typed-skew h2{
    padding: 90px 0 0px 30px;
    font-size: 55px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    margin: 0;

}
.typed-skew p{
    font-family: 'Nunito', sans-serif;
    padding: 0 0 0 30px;
    margin: 0;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;

}
.sec-img-dark{
    background-color: rgba(20, 34, 67, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
}
.info-div{
    background-color: #000f33;
    padding: 60px 20px 20px 20px;
}
.typed-info{
    width: 80%;
    margin: auto;
}
.typed-info h2{
    color: white;
    padding: 15px 0 8px 15px;
    font-size: 26px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    line-height: 1.4;


}
.typed-info p{
    color: whitesmoke;
    padding: 5px 0 5px 15px;
    font-size: 12px;
    line-height: 1.8;


}
.info-div-list i{
    color: #004dff;
    font-size: 10px;
    padding-right: 15px;

}
.info-div-list{
    line-height: 3.2;

    color: whitesmoke;
}
.info-div-list li{
    font-size: 12px;
}
.my-border{
    border-bottom:1px solid rgba(20, 34, 67, 0.9) ;
}
.info-div-ceo{
    padding: 20px 0px;
    display: flex;
    
}
.my-sec-bord{
    border-right:1px solid rgba(20, 34, 67, 0.9) ;


}
.info-div-ceo img{
    width: 50px;
    padding: 0px;
    border-radius: 50%;
}
.info-div-ceo h6{
    padding:6px 0 0px 8px;
    color: white;
    font-size: 12px;
    margin: 0;
}
.info-div-ceo p{
    padding:1px 0 0px 8px;
    color: gray;
    font-size: 9px;
    margin: 0;
}
.info-div-ceo button{
    margin-left: 5px;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    font-size: 12px;
}
.third-img-dark{
    background-color: rgba(20, 34, 67, 0.8);
    height: 100%;
    width: 100%;
    display: flex;
}
.third-bg-img{
    background-image: url(../../assets/child_3.avif);
    background-size: cover;
    position: relative;
    overflow: hidden;
    height:85vh;
}
.sale-div h6{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0;

}
.sale-pre{
    color: #004dff;
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;

}
.my-pre{
    font-weight: 700;
    color: #004dff;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;

    
}
.sale-div p{
    padding: 10px 30px;
    color: white;
    font-size: 11px;
}
.sale-div button{
    border-radius: 50px;
    font-size: 12px;
    padding: 10px;
    width: 50%;
}





@media all and (max-width:400px){
    .typed-info{
        width: 100%;
    }
    .info-div-list li{
        font-size: 9px;
    }
    .info-div-ceo h6{
        font-size: 9px;
    }
    
}


/*************************** fourth section *************************************/

.styled-h-after-second-section::after{
    content: "";
    padding: 1px 3px 0 3px;
    margin: 0 10px 0 5px;
    background-color: #0d6efd;
}
.team-div h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding: 10px;
}
.team-div p{
    font-size: 11px;
    font-weight: 300;
    padding: 2px 10px;
    margin: 0;
    line-height: 1.8;
    color: gray;
}
.offers-price{
 position: relative;
}
.offers-price img{
    width: 100%;
    border-radius: 10px 10px 0 0;

}
.offers-price p{
    padding: 15px 10px;
    color: #000f33;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -16px;
    border-radius:0 30px 0 0 ;
}
.offers-card .offers-price p{
    font-size: 12px;
}
.colored-price{
    font-size: 16px;
    color: #004dff;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    padding: 0 1px;
}

.offers-card h5{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 18px;
    padding: 15px 5px 7px 15px;
}
.p-card{
    font-size: 12px;
    color: gray;
    padding: 0px 15px 30px 15px;
}
.offers-card div{
    border-radius: 5px;
}
.offers-card {
    margin-top: 10px;
}
.lesson-time{
    margin: 10px 2px 0px 2px;
    border-top: 1px solid hsl(0, 4%, 82%);
    padding: 20px  5px 0px 5px;
}
.lesson-time i{
    font-size: 10px;
    color: #004dff;
}
.lesson-time li{
    font-size: 12px;
    font-weight: 600;
}
.icon-border{
    border-right: 1px solid hsl(0, 4%, 82%);
}

/**************fifth sec ****************************/


.img-dark-finish{
    background-color: rgba(0, 15, 51, 0.8);
    width: 100%;
    height: 100%;
    z-index: 999999999;

}
.scale-div{
    transform: skew(-45deg);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 77, 255, 0.7);
    position: absolute;
    z-index: 10;
}

.styled-h-second-section{
    color: #0d6efd;
    font-size: 13px;
    font-weight: 400;
}
.styled-h-second-section::before{
    content: "";
    padding: 1px 3px 0 3px;
    margin: 0 5px 0 10px;
    background-color: #0d6efd;
}

.map-sec{
    background-image: url(../../assets/bg6.avif);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

    height: 60vh;
    
}
.map-img{
    text-align: center;
    position: relative;
    top: -200px;
    z-index: 999999999;

}
.map-img img{
    border-radius: 10px;
    
}
.map-info{
    position: relative;
    bottom: 0px;
    z-index: 999999999;

}
.bg-logo{
    background-color: #004dff;
}
.map-h{
    color: white;
    font-weight: 400 !important;
    font-family: 'Roboto', sans-serif;

}
.num-div{
    padding: 20px;
    margin:  10px ;
    
}
.num-div h2{
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;

}
.num-div p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;

}
.my-50{
    width: 50%;
    text-align: center;

}








@media all and (max-width: 991px){
    .dis-img{
        display: none;
    }
    .map-img img{
        display: none;
    }

    .my-50{
        width: 80%;

    }
    .map-info{
        bottom: 0px;
    }
    .w-75{
        width: 95%!important;
    }




}
@media all and (max-width: 768px){

    .num-div{
        padding: 20px;
        margin:  10px ;
        
    }
    .map-sec{

    height: auto;        
    }

}



/********************** section 6 ****************/

.card-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px 10px;
}
.card-info h6{
    padding:30px 0 3px 14px;
    font-size: 16px;
    margin: 0;
}
.card-info .d-flex p{
    padding:1px 0 0px 14px;
    color: gray;
    font-size: 11px;
    margin: 0;
}
.card-info p{
    padding: 0px 15px 10px 15px;
    font-size: 12px;
    color: gray;
}
.stars-div{
    padding: 0 15px;
}
.stars-div i{
    color: goldenrod;
    font-size: 12px;
    padding: 4px;
}
.stars-div::after{
    content: "(5.0)";
    font-size: 14px;
    padding-left: 5px;
    font-weight: 600;
}
.card-info{
    border-radius: 10px;
    background-color: white;
    padding: 20px 10px;
    margin: 5px;

}
.my-section .second-section-first{
    padding: 20px 0;
}
.my-section{
    background-color: #e3ecff;
    padding: 70px 10px 70px 10px;
}
.satar-img{
    position: absolute;
    bottom: -15px;
    right: 0px;
}
.card-info .satar-img{
    width: 90px;
    height: 90px;
}
.my-section  .fa-chevron-left{
    background-color: #004dff;
    color: white;
    padding: 15px 18px;
    border-radius: 50%;
    position: absolute;
    right: 130px;
    top: -70px;
    transition: all 0.5s;
}
.my-section  .fa-chevron-left:hover{
    background-color: white;
    color: #004dff;
}
.my-section  .fa-chevron-right{
    background-color: #004dff;
    color: white;
    padding: 15px 18px;
    border-radius: 50%;
    position: absolute;
    right: 75px;
    top: -70px;
    transition: all 0.5s;
}
.my-section  .fa-chevron-right:hover{
    background-color: white;
    color: #004dff;
}













@media all and (max-width:310px){

    .card-info .satar-img{
        width: 50px;
        height: 50px;
    }
}